@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);




#header4-1 H1 {
  font-family: 'Merriweather', serif;
  color: #000000;
}
#header4-1 SPAN {
  text-align: left;
  color: #425ba1;
}
#header4-1 P {
  font-family: 'Merriweather', serif;
  color: #b8312f;
  font-size: 19px;
}
#footer1-2 P {
  font-family: 'Merriweather', serif;
  color: #000000;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Merriweather', serif;
  font-size: 13px;
}




#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Merriweather', serif;
  font-size: 13px;
}
#header4-8 H1 {
  font-size: 18px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  text-align: left;
}
#header4-8 P {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  font-family: 'Merriweather', serif;
}
#footer1-2 P {
  font-family: 'Merriweather', serif;
  color: #000000;
}






#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Merriweather', serif;
  font-size: 13px;
}
#footer1-2 P {
  font-family: 'Merriweather', serif;
  color: #000000;
}
#header3-26 H3 {
  font-family: 'Merriweather', serif;
}
#header3-26 P {
  font-family: 'Merriweather', serif;
}
#header3-32 H3 {
  font-family: 'Merriweather', serif;
}
#header3-32 P {
  font-family: 'Merriweather', serif;
}




#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Merriweather', serif;
  font-size: 13px;
}
#header1-16 H1 {
  font-family: 'Merriweather', serif;
}
#header1-16 .btn {
  font-family: 'Merriweather', serif;
  font-size: 11px;
}
#footer1-2 P {
  font-family: 'Merriweather', serif;
  color: #000000;
}




#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__items a {
  font-family: 'Merriweather', serif;
  font-size: 13px;
}
#header1-16 H1 {
  font-family: 'Merriweather', serif;
  color: #2c82c9;
}
#header1-16 .btn {
  font-family: 'Merriweather', serif;
  font-size: 11px;
}
#footer1-17 P {
  font-family: 'Merriweather', serif;
  color: #000000;
}




#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-24 .mbr-navbar__items a {
  font-family: 'Merriweather', serif;
  font-size: 13px;
}
#header1-25 H1 {
  font-family: 'Merriweather', serif;
  color: #2c82c9;
}
#header1-25 .btn {
  font-family: 'Merriweather', serif;
  font-size: 11px;
}
#footer1-26 P {
  font-family: 'Merriweather', serif;
  color: #000000;
}
